@charset "UTF-8";


.header{
  display: block;
}

body{
  font-family: sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.header_top{
  background-image:url(../image/IMG_1424.JPG)  ; 
  background-attachment: fixed;
  padding: 250px 0;
  background-size: cover;
}




h1{
  margin: 0 auto;
  font-size: 100px;
  color: #707070;
  font-weight: 600;
  text-align: center;
}


.sub-title{
  font-size: 25px;
  color: #707070;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
}

.content-en{
  text-align: center;
  margin: 0 auto;
}

.content-en img{
  width: 60%;


  /* アニメーション */
  animation-name: fadein ;
  animation-duration: 3s;
}

@keyframes fadein{
  from{
  opacity: 0;
  transform: translatey(35px); 
  }
  to{
  opacity: 1;
  transform: translatey(0);
  }
} 




.scroll {
  display: block;
  text-align: center;
  padding-top: 70px;
  position: relative;
}
.scroll::before {
  animation: scroll 3.5s infinite;
  border: solid #000;
  border-width: 0 0 1px 1px;
  content: "";
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
}
@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.scroll a{
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 0 auto;
  display: inline-block;
}

.scroll a:hover{
  color: #707070;
  transition: 0.4s;
}

.scloll a:hover::after{
  transform: rotate(45deg);
}

.message{
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #8E8888;
  /* padding-top: 30px; */
  animation-name: fadein ;
  animation-duration: 6s;
  background-color: #ffffff;
 }

 .message span{
   font-family: serif;
   font-size: 18px;
   font-weight: bolder;
 }
  

@keyframes fadein{
    from{
    opacity: 0;
    transform: translatey(35px); 
    }
    to{
    opacity: 1;
    transform: translatey(0);
    }
} 


.cmn-title{
  color: #707070;
  text-align: center;
} 

.main{
  font-size: 45px;
  text-decoration: underline;
  padding-top: 60px;
  /* overflow: hidden; */
}

.sub{
  font-size: 15px;
  font-weight: lighter;
}

.image-logo{
  margin: 80px 0;
}

img[src$="../image/Libenri_Gray.png"]{
  width: 200px;
  height: 111px;
}

/* .image-logo img{
  width: 240px;
  height: 180px;
  padding: 30px 0;
} */

.libenri-image{
  display: flex;
  margin-bottom: 80px;
  overflow: auto;
  overflow-x: hidden;
}

.slide_item img {
  margin: 0 auto;
  width: 400px;
  height: 300px;
  animation: slide1 60s -30s linear infinite;
  animation: slide2 60s linear infinite;
}


@keyframes slide1 {
0% {
transform: translateX(100%);
}
to {
transform: translateX(-100%);
}
}

@keyframes slide2 {
0% {
transform: translateX(0);
}
to {
transform: translateX(-200%);
}
}

/* 募集要項 */
.careers{
  justify-content: center;
  margin: 0 auto;
  border: 3px double #6F7FF7;
  width: 600px;
  padding-bottom: 100px;
}

.careers p{
  margin: auto;
  font-size: 16px;
  color: #8E8888;
  text-align: center;
  padding-bottom: 30px;
}

ul{
  list-style: none;
}

.careers-button li{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button-item{
  margin: 0 40px; 
  padding: 0;
}

.button01 a{
  text-align: center;
  display: block;
  font-weight: bold;
  text-decoration: none;
  width: 300px;
  color: #FFF;
  padding: 10px 0;
  background: #707070;
  box-shadow: 0 0 8px gray;
  transition: .4s;
}

.button02 a{
  text-align: center;
  display: block;
  font-weight: bold;
  text-decoration: none;
  width: 300px;
  color: #FFF;
  padding: 10px 0;
  background: #707070;
  box-shadow: 0 0 8px gray;
  transition: .4s;
}

.button01 a:hover{
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
               6px 0px 15px rgba(255, 255, 240, 0.83);
               cursor: pointer;
}

.button02 a:hover{
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
               6px 0px 15px rgba(255, 255, 240, 0.83);
               cursor: pointer;
}

.button02{
  padding-top: 40px;
}


/* 社内制度 */
.privilege{
  padding: 0 0 50px 0;
}

.privilege-cont{
  padding-left: 280px;
  padding-right: 200px;
}

.privilege-list{
  text-decoration: none;
}

.privilege-item{
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.image-pic img{
  margin-right: 60px;
  width: 250px;
  height: 250px;
}

.privilege-item-text{
  flex: 1;
}

.privilege-title{
  font-size: 20px;
  color: #6F7FF7; 
  font-weight: 500;
}

.desc{
  font-size: 16px;
  color: #8E8888;
}

.privilege-message {
  font-size: 16px;
  color: #8E8888;
  text-align: center;
  margin: 0 30px;
  padding-bottom: 50px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.flex-box{
  display: inherit;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.image-box{
  text-align: center;
}

.image-box img{
  width: 332px;
  height: 249px;
  padding: 0;
  vertical-align: middle;
}

img[src$="../image/Libenri_Gray.jpg"]{
  width: 200px;
  height: 111px;
  margin: 0 66px;
  background-color: #FFF;
}


/* 募集要項 */

.recruit-text{
  text-align: center;
  margin: 0 auto;
  padding: 0 300px;
  background-color: #EFF4FA;
  overflow: hidden;
  display: block;
}



dl{
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  padding-left: 30px;
  text-align: left;
  margin: 40px 0 20px;
}

dt{
  position: absolute;
  color: #000000;
  font-weight: 600;
  margin: 0 auto;
  padding: 30px 0 0 30px;
  text-align: center;
}

dd{
  color: #000000;
  text-align: left;
  font-weight: 500;
  padding: 30px 0 30px 150px;
  border-top: solid 3px #ffffff;
}

a{
  color: #6F7FF7;
  text-decoration: none;
}


.wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap button{
  /* display: block; */
  width: 400px;
  height: 60px;
  /* text-transform: uppercase; */
  letter-spacing: 2.5px;
  font-size: 24px;
  font-weight: 500;
  color: #9C88DDD0;
  background-color: #ffffff;
  border: solid 1px;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  /* outline: none; */
  margin: 0 0 70px 0;
}

button:hover{
  background-color: #9C88DDD0;
  border: none;
  box-shadow: 0px 15px 20px #6F7FF7;
  color: #ffffff;
  transform: translateY(-7px);
}


/*フッター*/
.footer-image{
  background-image: url(../image/footer.jpg);
  background-size: cover;
  background-position: 40% 71%;
  margin-top: 0;
  max-width: 100%;
  height: 500px;
  text-align: right;
}

.footer-image img{
  width: 900px;
  height: 300px;
  padding:50px 80px;
}

/*iframe*/
    
  iframe#entryformframe {
    width: 100%;
    border: none;
    height: 1400px;
  }




/* レスポンシブ */
@media only screen and (max-width:768px){

  h1{
    font-size: 40px;
    text-decoration: none;
  }

  .header_top {
    position: relative;
    background: none;
  }
  .header_top::after {
    content: "";
    width: 100vw;
    height: 100vh;
    background-image: url(../image/IMG_1424.JPG);
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
  }

  .sub-title{
    font-size: 12px;
  }

  .content-en img{
    width: 100%;
    margin: 0 auto;
  }

  .main{
    font-size: 30px;
  }

  .sub{
    font-size: 12px;
  }

  .scroll a{
    font-size: 14px;
  }

  .message{
    background-color: #ffffff;
  }

  .message p{
    font-size: 14px;
    padding: 15px 10px;
  }

  .message span{
    font-size: 18px;
  }

  .image-logo{
    margin: 0 0 50px 0;
  }

  .image-logo img{
    width: 40%;
    height: 40%;
    margin: 20px 0;
  }

  .libenri-image{
    margin-bottom: 40px;
  }

  .slide_item img{
    width: 95px;
    height: 80px;
  }

  .careers{
    display: block;
    width: 80%;
    background-color: #ffffff;
    /* position: center; */
  } 

  .careers p{
    font-size: 12px;
  }


  .button-item a{
    font-size: 12px;
    /* padding-top: 15px; */
  }

  .button01 a{
    height: 20px;
  }

  .button02 a{
    height: 20px;
  }

  .image-pic img{
    width: 180px;
    height: 180px;
  }

  .privilege{
    margin-top: 50px;
    background-color: #ffffff;
  }
  .privilege-cont{
    padding-right: 0;
    padding-left: 0;
  }

  .privilege-list{
    margin: auto;
    padding-left: 0;
  }


  .image-pic img{
    margin-left: auto;
    margin-right: auto;
  }

  .privilege-title{
    font-size: 18px;
  }

  .desc{
    font-size: 14px;
  }

  .privilege-item{
    display: block;
    text-align: center;
    padding-bottom: 35px;
  }

  .privilege-message{ 
    display: block;
    padding: 10px;
    font-size: 16px;
  }

  .flex-box{
    padding-bottom: 60px;
  }

  .image-box img{
    width: 100px;
    height: 80px;
  }

  img[src$="../image/Libenri_Gray.jpg"]{
    width: 72px;
    height: 50px;
    margin: 0 14px;
  }

  .recruit-text{
    padding: 10px;
    margin: 0;
    padding: 0;
  }

  dl{
    font-size: 20px;
    padding-left: 40px;
    margin-bottom: 0;
  }

  dt{
     font-size: 16px;
     font-weight: bolder;
     vertical-align: inherit;
     position: relative;
     padding: 30px 0 0 40px;
     text-align: left;
  }

  dd{
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .wrap button{
    margin: 0 40px 45px 40px;
  }

  footer img{
    width:120px;
    padding:1.2rem 0;
  }

  .footer-image{
     max-height: 200px;
     background-image: url(../image/footer.jpg);
     background-size: cover;
     margin-top: 0;
  }

 .footer-image img{
    width: 100%;
    height: auto;
    padding: 30px 0;
  }
    
  iframe#entryformframe {
    height: 1550px;
    overflow-y: hidden;
  }
}


@media (min-width: 912px) {

  footer ul{
    display:flex;
    text-align: center;
  }

  footer li:not(:first-child)::before{
    content:"|";
    margin:1rem;
  }

  footer img{
    width: 140px;
  }

}